<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tømmelogg</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="logg.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
  <link href="style.min.css" rel="stylesheet">
</head>
<body>
  <div data-ng-app="app" data-ng-controller="log" id="container">
    <header>
      <h1>Tømmelogg</h1>
    </header>
    <div data-ng-show="!visModal">
      <table class="content">
        <!--<tr>
          <th>Tank</th>
          <th colspan="2">Volum</th>
        </tr>-->
        <tr data-ng-repeat="l in logg" data-ng-click="showActions = !showActions" data-ng-swipe-left="showActions = true" data-ng-swipe-right="showActions = false">
          <td>{{ l.seddelnummer }}</td>
          <td colspan="{{ showActions ? 1 : 2}}">{{ l.volum | number }}
            <span class="potens">
              <span class="grunntall">m</span>
              <span class="eksponent">3</span>
            </span>
          </td>
          <td data-ng-show="showActions">
            <button class="delete-btn" data-ng-click="slett($index)"><i class="fas fa-trash" aria-hidden="true"></i></button>
          </td>
        </tr>
      </table>

      <nav>
        <div id="add-btn-container">
          <div class="button-outline"></div>
          <button id="add-btn" data-ng-click="visModal = true"><i class="fas fa-plus" aria-hidden="true"></i></button>
        </div>
        <footer>
          <button id="send-btn"><i class="fas fa-paper-plane" aria-hidden="true"></i> Send inn</button>
          <span id="date">{{ today | date : "dd.MM.yyyy" }}</span>
        </footer>
      </nav>
    </div>

    <div class="modal-container content" data-ng-show="visModal">
      <div class="modal">
        <header>
          <h1>Ny tømming</h1>
        </header>
        <div class="label-float" data-ng-class="{ hidden: !seddelnummer.length }">
          <div>
            <label for="seddelnr-input">Seddelnummer</label>
          </div>
          <div>
            <input data-ng-model="seddelnummer" type="text" placeholder="Seddelnummer" inputmode="numeric" pattern="[0-9]*" data-ng-pattern="onlyNumbers" maxlength="4">
          </div>
        </div>
        <div class="label-float" data-ng-class="{ hidden: !antall.length }">
          <div>
            <label for="antall-input">Antall kubikk</label>
          </div>
          <div>
            <input data-ng-model="antall" type="text" placeholder="Antall kubikk" inputmode="numeric" pattern="[0-9]*" data-ng-pattern="onlyNumbers">
          </div>
        </div>
        <div class="modal-buttons">
          <button data-ng-click="visModal = false">Avbryt</button>
          <button data-ng-click="leggTilNyTomming()" data-ng-disabled="!antall.length || !seddelnummer.length">OK</button>
        <div>
      </div>
    </div>
  </div>
</body>
</html>
