//Variables
$fontLight: 300 1em 'Open Sans', sans-serif;
$fontRegular: 400 1em 'Open Sans', sans-serif;
$fontBold: 600 1em 'Open Sans', sans-serif;

$primaryColor: #009681;
$primaryColorBlurred: #cfebe7;
$dangerColor: #d00046;
$black: #4A4A4A;
$gray: #909090;
$lightGray: #d8d8d8;
$white: white;

//Super classes
%center-block {
  margin-left: auto;
  margin-right: auto;
}

%default-font {
  font: $fontLight;
  color: $black;
}

%round-centered-btn {
  position: absolute;
  padding: 1em;
  height: 3.4em;
  width: 3.4em;
  border-radius: 50%;
  border: none;
  left: 0;
  right: 0;
  margin: auto;
}

%nowrap {
  white-space: nowrap;
}

//Mixins
@mixin user-select($val) {
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

@mixin placeholder-color($color) {
  /* Mozilla Firefox 19+ */
  ::-moz-placeholder {
    color: $color;
  }
  /* IE10+ */
  :-ms-input-placeholder {
    color: $color;
  }
  /* web-kit */
  ::-webkit-input-placeholder {
    color: $color;
  }
}

@mixin placeholder($color, $font) {
  /* Mozilla Firefox 19+ */
  ::-moz-placeholder {
    font-family: $font;
  }
  /* IE10+ */
  :-ms-input-placeholder {
    font-family: $font;
  }
  /* web-kit */
  ::-webkit-input-placeholder {
    font-family: $font;
  }

  @include placeholder-color($color);
}

body {
  @extend %default-font;
}

#container {
  width: 95%;
  position: relative;
  @extend %center-block;
}

header {
  border-bottom: 1px solid $lightGray;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: $white;

  h1 {
    font: $fontBold;
    font-size: 1.2rem;
    text-align: center;
    color: $primaryColor;
  }
}

.content {
  margin: 3rem 0 6rem 0;
}

table {
  width: 100%;
  border-collapse: collapse;

  tr {
    th {
      padding-top: 2rem;
      font: $fontBold;
    }

    th:first-child {
      text-align: left;
    }

    :not(:first-child) {
      text-align: right;
      @extend %nowrap;
    }

    &:not(:last-child) {
      td:not(:last-child) {
        border-bottom: 1px solid $lightGray;
      }
    }

    td {
      font-size: 1.6em;

      &:first-child::before {
        content: "tank: ";
        font: $fontRegular;
      }

      &:not(:last-child) {
        padding: 2rem 0;
      }

      &:last-child {
        padding: 0;
      }

      .potens {
        font-size: 0.8em;
        display: inline-block;
        vertical-align: bottom;
        height: 1em;
        padding-left: 0.1em;

        .grunntall {
          font-size: 1em;
        }

        .eksponent {
          font-size: 0.7em;
          vertical-align: top;
        }
      }

      .delete-btn {
        color: white;
        background-color: $dangerColor;
        padding: 1.35em;
        font-size: 1em;
        border: none;
        transition: padding linear 2ms;
      }

      &.ng-hide .delete-btn {
        padding: 0;
      }
    }
  }
}

nav {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  box-sizing: border-box;

  #add-btn-container {
    position: relative;

    .button-outline {
      @extend %round-centered-btn;
      background-color: $white;
      font-size: 0.9rem;
      top: -2.5rem;
    }
    #add-btn {
      @extend %round-centered-btn;
      color: $white;
      background-color: $primaryColor;
      font-size: 1.2rem;
      top: -2.35rem;
    }
  }

  footer {
    background: $black;
    padding: 1.2em;
    width: 100%;
    box-sizing: border-box;
    font: $fontRegular;

    #send-btn {
      font: inherit;
      color: $white;
      background-color: transparent;
      border: none;
      padding: 0;
    }

    #date {
      float: right;
      color: $white;
    }
  }
}

.modal-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $white;

  .modal {
    padding-top: 2.4rem;
    width: 80%;
    @extend %center-block;

    .label-float {
      position: relative;
      margin-bottom: 1.2rem;
      font: $fontRegular;

      &.hidden {
        @include placeholder($gray, $fontRegular);
        label {
          display: none;
        }
      }

      &:not(.hidden) {
        @include placeholder-color(transparent);
        input {
          padding-top: calc(2.4rem + 1px) !important;
        }
      }

      label {
        font: inherit;
        position: absolute;
        margin-left: 1.2rem;
        padding-top: 1.2rem;
        font-size:  1rem;
      }

      input {
        font: inherit;
        padding: calc(1.2rem + 1px) 1.2rem 1.2rem 1.2rem;
        width: 100%;
        box-sizing: border-box;
        border-radius: 2px;
        border: 1px solid $gray;
        font-size: 1.2rem;
      }
    }

    .modal-buttons {
      text-align: right;

      button {
        background-color: transparent;
        border-color: transparent;
        color: $primaryColor;
        font-size: 1.2em;
      }
    }
  }
}
